{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
<div class="header mt-5 mb-4 d-flex align-items-center justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Guruhlar</li>
        </ol>
    </nav>

    <span>
        <input type="text" placeholder="Qidirish" id="search" class="search">

    </span>
</div>

<div class="row mb-5 mt-5">
    <div class="col-sm-3">
        <div class="custom-card bg-light">
            <h5 class="pb-1">O'quvchilar</h5>
            <h1>{{ students }}</h1>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="custom-card bg-light ">
            <h5>
                O'qituvchilar
                <a href="{% url 'app:admin-create-teacher' %}" class="btn btn-sm btn-dark">+</a>

            </h5>
            <h1>
                {{ teachers }}
            </h1>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="custom-card bg-light ">
            <h5 class="pb-1">Guruhlar</h5>
            <h1>{{ groups }}</h1>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="custom-card bg-light ">
            <h5>
                Hisobchi
                <a href="{% url 'app:admin-create-accountant'%}" class="btn btn-sm btn-dark">+</a>
            </h5>
            <h1>{{ accountants }}</h1>
        </div>
    </div>


</div>

<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Guruh nomi</th>
            <th>O'qituvchi</th>
            <th>O'quvchilar soni</th>
            <th>To'lov qilinmagan</th>
        </tr>
    </thead>
    <tbody>
        {% for group in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.name }}</td>
            <td>{% if group.teacher %} {{ group.teacher }} {% else %} - {% endif %}</td>
            <td>{{ group.students.count }}</td>
            <td>
                {% if group.subscription_count == 0 %}
                {{ group.students.count }}
                {% else %}
                {{ group.students.count|sub:group.subscription_count}}
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
        <tr class="notfound text-center text-danger">
            <td colspan="5">Topilmadi \:(</td>
        </tr>
    </tbody>
</table>

{% endblock content %}