{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="header mt-5 mb-4 d-flex align-items-center justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'manager:subscriptions' %}">Obunalar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tarix</li>
        </ol>
    </nav>

    <span>
        <input type="text" placeholder="Qidirish" id="search" class="search">
    </span>
</div>

<table class="table table-responsive table-bordered mt-2">
    <thead>
        <tr>
            <th>#</th>
            <th>Abonent</th>
            <th>F.I.Sh</th>
            <th>Narx</th>
            <th>Sana</th>
        </tr>
    </thead>
    <tbody>
        {% for row in items %}
        <tr class="align-middle">
            <td>{{ forloop.counter }}</td>
            <td>{{ row.company.name }}</td>
            <td>{{ row.company.owner }}</td>
            <td>{{ row.cost|intcomma }}</td>
            <td>{{ row.date }}</td>
        </tr>
        {% endfor %}
        <tr class="notfound text-center text-danger">
            <td colspan="5">Topilmadi \:(</td>
        </tr>
    </tbody>
</table>

{% endblock content %}