{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="header mt-5 mb-4 d-flex align-items-center justify-content-between">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Bosh sahifa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tarix</li>
        </ol>
    </nav>

    <span>
        <input type="text" placeholder="Qidirish" id="search" class="search">
        <a href="{% url 'app:datas' %}" class="btn btn-sm btn-success">Guruhlar</a>
        <a href="{% url 'app:create-teacher' %}" class="btn btn-sm btn-success">O'qituvchi kiritish</a>
        <a href="{% url 'app:create-student' %}" class="btn btn-sm btn-success">Talaba kiritish</a>

    </span>
</div>

{% if request.user.profile_set.first.level == 'admin'%}
<div class="row mb-4">
    <div class="col-sm-4">
        <form action="" method="get">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <select name="month" class="form-control" required>
                            <option value="01">Yanvar</option>
                            <option value="02">Fevral</option>
                            <option value="03">Mart</option>
                            <option value="04">Aprel</option>
                            <option value="05">Mart</option>
                            <option value="06">Iyun</option>
                            <option value="07">Iyul</option>
                            <option value="08">Avgust</option>
                            <option value="09">Sentyabr</option>
                            <option value="10">Oktyabr</option>
                            <option value="11">Noyabr</option>
                            <option value="12">Dekabr</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-success">Aniqlash</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% elif request.user.profile_set.first.level == 'casher'%}
<div class="row mb-4">
    <div class="col-sm-4">
        <form action="" method="get">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="date" name="date"  class="form-control" required>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-success">Aniqlash</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}

<table class="table table-responsive table-bordered mt-2">
    <thead>
        <tr>
            <th>#</th>
            <th>F.I.Sh.</th>
            <th>Guruh</th>
            <th>Narx</th>
            <th>Sana</th>
        </tr>
    </thead>
    <tbody>
        {% for row in subs %}
        <tr class="align-middle">
            <td>{{ forloop.counter }}</td>
            <td>{{ row.student }}</td>
            <td>{{ row.group }}</td>
            <td>{{ row.cost|intcomma }}</td>
            <td>{{ row.month }}</td>
        </tr>
        {% endfor %}
        {% if total %}
        <tr>
            <th colspan="1">Jami</th>
            <th colspan="4">{{total|intcomma}} so'm</th>
        </tr>
        {% endif %}
        <tr class="notfound text-center text-danger">
            <td colspan="5">Topilmadi \:(</td>
        </tr>
    </tbody>
</table>

{% endblock content %}